.video{
    display: flex;

    margin: 2em auto;
    flex-direction: column;
}
.video > h1{
}
.video > div {
    position: absolute;
    margin-top: 7em;
    /* margin-left: 30em; */
}
.video > div > button {
    margin: 1em;
    width: 6em;
    background-color: transparent;
    display: block;

}
iframe{
    border-radius: 1.5em;
}