#root { 
  width: 75%;
  height: 100%; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  width: 500px;
}

.title {
  padding-bottom: 50px;
}

.App {
  display: flex;
  flex-direction: column;
}

.signed-in-buttons{
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

}

.upload-button{
  padding-bottom: 10px;
}

