#root { 
  /* max-width: 1280px; */
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.tiktok {
  margin: 0 auto;
  border: 1em solid red;
  height: 35em;
  width: 50em;

}

